.OurBrands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.Brand {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
.BrandContent {
  display: flex;
  align-items: center;
}
#FGLogo {
  background-color: black;
}
.Logo {
  width: 25%;
  margin: 2%;
}
.BrandButtons {
  display: flex;
  width: 100%;
}
.BrandButton {
  width: 100%;
  border: none;
}
.BrandButton:hover {
  cursor: pointer;
}
.BrandButtonImage {
  width: 100%;
}
