.Product {
  display: flex;
  flex-direction: column;
  width: 15vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 4px 4px lightgray;
}
.product-image {
  height: 7.5vw;
  margin: 7.5px;
}
.product-name {
  font-weight: 700;
  font-size: 1.2vw;
  margin: 2px;
}
.the-percent {
  margin-top: 10px;
}
.product-price {
  font-weight: 700;
  font-size: 1.2vw;
  color: #4F7DAE;
}
.productButton {
  background-color: white;
  border: none;
  width: 5vw;
  height: 5vh;
  transition-duration: 0.6s;
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 0.8vw;
  color: black;
  margin: 4px;
}
.productButton:hover {
  background-color:#33415b;
  cursor: pointer;
  color: white;
}
.dialogues {
  display: flex;
  flex-direction: row;
}