.ProductsMain {
  text-align: center;
}
.Products {
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.brand-buttons {
  display: flex;
}
.brand-button {
  width: 10vw;
  height: 5vw;
  background-color: #E5EEF7;
}
.brand-button-image {
  width: 100%;
}