.MoreTerpenes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.terpeneTable {
  width: 40%;
}
.terpeneTable, th, td {
  border: 1px solid black;
}
.tableHead th {
  padding-bottom: 2%;
}
.terpeneTable th {
  width: 50%;
}