@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
.App {
  display: flex;
  flex-direction: column;
  font-family: 'Cardo', serif;
}
.Header {
  display: flex;
  justify-content: space-between;
}
.Logos {
  margin-top: 1.25vw;
  margin-left: 1.25vw;
  display: flex;
}
.EssentialBrandsLogo {
  width: 20vw;
}
.OtherLogos {
  display: flex;
  justify-content: space-between;
  margin-left: 1.25VW;
  width: 15vw;
  height: 4vw;
  background-color: #8badd2;
}
.ForbiddenGardenLogo {
  width: 33%;
}
.PureOrganticLogo {
  width: 33%;
}
.HighProfileLogo {
  width: 33%;
  height: 4vw;
}
.navbar {
  margin-right: 1.5vw;
}
.nav-button {
  background-color: white;
  margin-top: 2.5vh;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  width: 7.5vw;
  height: 5vh;
  transition-duration: 0.6s;
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 0.7vw;
  color: black;
}
button:hover {
  background-color:#b6cbe2;
  cursor: pointer;
  color: white;
}
.content {
  background-color: #E5EEF7
}
