@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
.App {
  display: flex;
  flex-direction: column;
  font-family: 'Cardo', serif;
}
.Header {
  display: flex;
  justify-content: space-between;
}
.Logos {
  margin-left: 0.75vw;
  display: flex;
}
.EssentialBrandsLogo {
  width: 10vw;
  margin-top: 0.75vw;
}
.OtherLogos {
  display: flex;
  justify-content: space-between;
  margin-left: 1.25VW;
  width: 20vw;
  height: 4vw;
}
.ForbiddenGardenLogo {
  width: 25%;
  background-color: rgb(107, 106, 106);
}
.PureOrganticLogo {
  width: 25%;
}
.HighProfileLogo {
  width: 25%;
  height: 4vw;
}
.TerpeneXpressLogo {
  width: 24%;
  height: 4vw;
}
.navbar {
  margin-right: 1.5vw;
}
.nav-button {
  background-color: white;
  margin-top: 2.5vh;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  width: 7.5vw;
  height: 3vh;
  transition-duration: 0.6s;
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 0.5vw;
  color: black;
}
button:hover {
  background-color:#33415b;
  cursor: pointer;
  color: white;
}
.content {
  background-color: #fff
}
.link {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {  background-color:#b6cbe2;
  cursor: pointer;
  color: white;}

/* Show the dropdown menu on hover */
.link:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.link:hover .dropbtn {background-color: #3e8e41;}
